@charset "UTF-8";

/* Base */
html { font-family: "Ropa Sans", sans-serif; font-size: 16px; line-height: 1.5; }
body { background-color: rgb(240, 240, 240); color: rgb(0, 0, 0); min-width: 960px; /*padding-top: 50px; */}
h1, h2, h3, p, ul { margin: 0; }
ul { padding-left: 0; }
ul li { list-style-type: none; }
a { color: inherit; text-decoration: none; }
img { vertical-align: middle; }
.dummy { margin: 0 ; max-width: 32em; padding: 0; }


/*
 * Sticky header
 */


.page-header {
    background-color: rgba(255, 255, 255, 0.7);
    /*background-image: url('./img/navigationbar.png');*/
    position: absolute;
    width: 100%;
    min-width: 960px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}


.page-header.sticky {
    background-color: rgb(249,218,180);
    position: fixed;
    top: 0;
}

.page-header > .inner {
   /* margin: auto;*/
    width: 960px;
}

.no-boxshadow .page-header {
    border-bottom: 1px solid rgb(204, 204, 204);
}

/* Logo */
.site-logo img {
    float: left;
    margin-left: 20px;
    margin-top:15px; 
    width: 220px;

}

/* Primary nav */
.primary-nav {
    float: right;
    line-height: 65px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 70px;
}
.primary-nav li {
    float: left;
}
.primary-nav a {
    display: block;
    padding: 0 ;
}
.primary-nav a:hover {
    background-color: rgb(240, 240, 240);
}

/*.nav{
    background-image: url("http://i.imgur.com/GFWdX1a.png");
    background-size: 100%;
    height: 70px;
}
.site-logo{
    margin-top:15px; 
}*/
ul {
    
    /*float: right;*/
    position: absolute;
    right:0;
}
ul img{
    height: 70px;
}
