body{
		background-image: url('http://subtlepatterns.com/patterns/ricepaper.png');

}

.pictureButton, .bgimg{
	position: absolute;
}

.wordButton{
	position: absolute;
	opacity: 0;
}

/*culture*/
#btn1-1 img, #btn1-2 img{
	width: 160px;
}
/*spots*/
#btn2-1 img, #btn2-2 img{
	width: 150px;
}
/*cuisine*/
#btn3-1 img, #btn3-2 img{
	width: 140px;
}
/*tips*/
#btn4-1 img, #btn4-2 img{
 	width: 170px;
}
/*alphabet*/
#btn5-1 img, #btn5-2 img{
	width: 210px;
}
/*conversation*/
#btn6-1 img, #btn6-2 img{
	width: 190px;
}


/*culture*/
#btn1-1, #btn1-2{
	top: 1040px;
	left: 540px;
}

/*spots*/
#btn2-1, #btn2-2{
	top: 1020px;
	left: 935px;
}

/*cuisine*/
#btn3-1, #btn3-2{
	top: 970px;
	left: 340px;
}

/*tips*/
#btn4-1, #btn4-2{
	top: 1070px;
	left: 1150px;
}

/*alphabet*/
#btn5-1, #btn5-2{
	top: 1040px;
	left: 100px;
}

/*conversation*/
#btn6-1, #btn6-2{
	top: 1120px;
	left: 750px;
}


#architecture{
	position: absolute;
	top: 1163px;
	left: 270px;
	
}
#architecture img{
	width: 330px;
	opacity:0.7;
}

footer{
	background-color: rgb(249,218,180);
	padding: 5px;
}
/*footer p{
	float: right;
}*/