body{
	background-image: url('http://subtlepatterns.com/patterns/ricepaper.png');
	background-attachment: fixed;
	margin: auto;
}

.nav{
	background-image: url("http://i.imgur.com/GFWdX1a.png");
	background-size: 100%;
	height: 70px;
}
.logo{
	margin-top:15px; 
}
.nav-btn{
	height: 70px;
	float: right;
}
.footer{
	background-image: url("http://i.imgur.com/GFWdX1a.png");
	background-size: 100%;
	height: 30px;
	margin-top: 41em;
}
.foot-btn{
	position:absolute;
	right: 0px; 
}

.word{
	display: block;
    padding: 20px;
    width: 400px;
    height: 575px;
	border: solid 10px #a35f29 ;
	background-color: #e2d9d2;
	position: absolute;
	right: 0px;
	font-size: 18px;
	opacity: 0;
}
.word h4{
	font-size: 24px;
	font-weight: bold;
}
.picture img, .picture h1{
	position: absolute;
}
.picture h1{
	border: solid 5px #a35f29 ;
	background-color: #e2d9d2;
	padding: 10px;
	left: 20px;
}

/*餃子*/
#cp1{
	width: 270px;
	left: 180px;
	top: 400px;
}
/*布林餅*/
#cp2{
	width: 300px;
	left: 630px;
	top: 430px;
}
/*羅宋湯*/
#cp3{
	width: 300px;
	left: 510px;
	top: 100px;
}
/*魚子醬*/
#cp4{
	width: 330px;
	left: 410px;
	top: 270px;
}
/*克瓦斯*/
#cp5{
	width: 160px;
	left: 20px;
	top: 180px;
}
/*伏特加酒*/
#cp6{
	width: 350px;
	left: 680px;
	top: 90px;
}
/*熏制食品*/
#cp7{
	width: 300px;
	left: 180px;
	top: 100px;
}
#menu{
	text-align: center;
	padding-top: 4em;
	opacity: 1;
}

