body{
	background: url('http://subtlepatterns.com/patterns/ricepaper.png') ;
	/*margin-top: 2em;*/
}

.nav{
	background-image: url("http://i.imgur.com/GFWdX1a.png");
	background-size: 100%;
	height: 70px;
}
.logo{
	margin-top:15px; 
}
.nav-btn{
	height: 70px;
	float: right;
}
.footer{
	background-image: url("http://i.imgur.com/GFWdX1a.png");
	background-size: 100%;
	height: 30px;
	margin-top: 50em;
}
.foot-btn{
	position:absolute;
	right: 0px; 
}


.flag img{
	width:70%;
}

#map {
	display: block;
	position: absolute;
	width: 1000px;
	margin-top: 50px;
	/*margin-left: 50px;*/
	left: 150px;
	z-index: 0;
	/*vertical-align : middle;*/
}

.spots img{
	position: absolute;
}
#spot1 img{
	width:70px;
	top: 380px;
	left:240px;
}
#spot2 img{
	width:60px;
	top: 580px;
	left:750px;
}

#spot3 img{
	width:60px;
	top: 280px;
	left:270px;
}

#spot4 img{
	width:40px;
	top: 640px;
	left:1020px;
}

#moscow, #redSquare, #baygal, #vlad{
	position: absolute;
	float:right;
	display: inline-block;
	background-color: rgba(187,251,255,0.8);
	padding: 5px;
	border: #0044bb 6px solid;
	border-radius: 10px;
	margin: 10px; 
	opacity: 0;
	
}

#moscow{
	top: 65px;
	left: 400px;
}
#moscow img, #baygal img, #vlad img{	
	width: 150px;	
	margin-left: 10px;
	margin-right: 10px;	
	border-radius: 10px;
	display: block;
}
#redSquare img {
	width: 150px;	
	margin-left: 10px;
	margin-right: 10px;	
	border-radius: 10px;
	display: inline-block;
}

#moscow img, #baygal img, #vlad img{
	margin-bottom: 10px;
}


#moscow .image, #baygal .image, #vlad .image{
	display: inline-block;
}

#imageM1{
	margin-top: -100px;
}


#moscow .word, #redSquare .word, #baygal .word, #vlad .word{
	display: inline-block;
}
#moscow p{
	width: 300px;
}
#redSquare p, #baygal p, #vlad p{
	width: 400px;
}

#redSquare{
	left: 30px;
	top: 70px;
}
#redSquare img{
	margin-top: -110px;
}

#baygal{
	left: 400px;
	top: 80px;
}
#vlad{
	right: 5px;
	top: 200px;
}